.select-container {
  display: flex;
  justify-content: center;
}

.select-options {
  background-color: #e3f5f2;
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.select-options select, label {
  margin-left: 10px;
}

@media (max-width: 500px) {
  .select-options {
    width: 90%;
    height: 150px;
    flex-direction: column;
    align-items: initial;
  }

  .select-options select, label {
    margin-left: 1px;
    padding: 5px;
  }
}
