.select-container {
  display: flex;
  justify-content: center;
}

.select-options {
  background-color: #e3f5f2;
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.select-options select, label {
  margin-left: 10px;
}